In [40]:
import numpy as np
import pandas as pd
import os

def convert_usd_to_idr(num):
  return num * 15107.50

In [41]:
train = pd.read_csv('./Training Dataset.csv')
train['Loan_Status'] = train['Loan_Status'].map({'Y': 1, 'N': 0})
print(train)
train['ApplicantIncome'] = train['ApplicantIncome'].map(convert_usd_to_idr)
train['CoapplicantIncome'] = train['CoapplicantIncome'].map(convert_usd_to_idr)

print(train)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area  Loan_Status
0               1.0         Urban            1
1               1.0         Rural            0
2               1.0         Urban            1
3               1.0         Urban            1
4               1.0         Urban            1
..              ...           ...          ...
609             1.0         Rural            1
610             1.0         Rural            1
611             1.0         Urban            1
612             1.0         Urban            1
613             0.0     Semiurban            0

[614 rows x 13 columns]
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0         88363767.5                0.0         NaN             360.0
1         69237672.5         22782110.0       128.0             360.0
2         45322500.0                0.0        66.0             360.0
3         39022672.5         35623485.0       120.0             360.0
4         90645000.0                0.0       141.0             360.0
..               ...                ...         ...               ...
609       43811750.0                0.0        71.0             360.0
610       62031395.0                0.0        40.0             180.0
611      121947740.0          3625800.0       253.0             360.0
612      114560172.5                0.0       187.0             360.0
613       69237672.5                0.0       133.0             360.0

     Credit_History Property_Area  Loan_Status
0               1.0         Urban            1
1               1.0         Rural            0
2               1.0         Urban            1
3               1.0         Urban            1
4               1.0         Urban            1
..              ...           ...          ...
609             1.0         Rural            1
610             1.0         Rural            1
611             1.0         Urban            1
612             1.0         Urban            1
613             0.0     Semiurban            0

[614 rows x 13 columns]

In [42]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [43]:
Loan_status=train.Loan_Status
train.drop('Loan_Status',axis=1,inplace=True)
test=pd.read_csv('./Test Dataset.csv')
Loan_ID=test.Loan_ID
data=train.append(test)
data.head()

<ipython-input-43-7387b01a044c>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=train.append(test)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,88363767.5,0.0,NaN,360.0,1.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,69237672.5,22782110.0,128.0,360.0,1.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,45322500.0,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,39022672.5,35623485.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,90645000.0,0.0,141.0,360.0,1.0,Urban

In [44]:
data.shape

(981, 12)

In [45]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,9.810000e+02,9.810000e+02,954.000000,961.000000,902.000000
mean,5.109509e+07,1.533054e+07,142.511530,342.201873,0.835920
std,8.300476e+07,3.691984e+07,77.421743,65.100602,0.370553
min,0.000000e+00,0.000000e+00,9.000000,6.000000,0.000000
25%,4.523000e+03,0.000000e+00,100.000000,360.000000,1.000000
50%,3.941547e+07,1.600000e+03,126.000000,360.000000,1.000000
75%,6.562698e+07,2.560721e+07,162.000000,360.000000,1.000000
max,1.223708e+09,6.294842e+08,700.000000,480.000000,1.000000

In [46]:
data.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
dtype: int64

In [47]:
data.Dependents.dtypes

dtype('O')

In [48]:
data.Gender=data.Gender.map({'Male':1,'Female':0})
data.Gender.value_counts()

1.0    775
0.0    182
Name: Gender, dtype: int64

In [49]:
data.Married=data.Married.map({'Yes':1,'No':0})

In [50]:
data.Married.value_counts()

1.0    631
0.0    347
Name: Married, dtype: int64

In [51]:
data.Dependents=data.Dependents.map({'0':0,'1':1,'2':2,'3+':3})
data.Dependents.value_counts()

0.0    545
1.0    160
2.0    160
3.0     91
Name: Dependents, dtype: int64

In [52]:
data.Education=data.Education.map({'Graduate':1,'Not Graduate':0})
data.Education.value_counts()

1    763
0    218
Name: Education, dtype: int64

In [53]:
## Labelling 0 & 1 for Employment status
data.Self_Employed=data.Self_Employed.map({'Yes':1,'No':0})

In [54]:
data.Self_Employed.value_counts()

0.0    807
1.0    119
Name: Self_Employed, dtype: int64

In [55]:
data.Property_Area.value_counts()

Semiurban    349
Urban        342
Rural        290
Name: Property_Area, dtype: int64

In [56]:
data.Property_Area=data.Property_Area.map({'Urban':2,'Rural':0,'Semiurban':1})
data.Property_Area.value_counts()

1    349
2    342
0    290
Name: Property_Area, dtype: int64

In [57]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,1.0,0.0,0.0,1,0.0,88363767.5,0.0,NaN,360.0,1.0,2
1,LP001003,1.0,1.0,1.0,1,0.0,69237672.5,22782110.0,128.0,360.0,1.0,0
2,LP001005,1.0,1.0,0.0,1,1.0,45322500.0,0.0,66.0,360.0,1.0,2
3,LP001006,1.0,1.0,0.0,0,0.0,39022672.5,35623485.0,120.0,360.0,1.0,2
4,LP001008,1.0,0.0,0.0,1,0.0,90645000.0,0.0,141.0,360.0,1.0,2

In [58]:
data.Credit_History.size

981

In [59]:
data.Credit_History.fillna(np.random.randint(0,2),inplace=True)

In [60]:
data.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
dtype: int64

In [61]:
data.Married.fillna(np.random.randint(0,2),inplace=True)

In [62]:
data.isnull().sum()

Loan_ID               0
Gender               24
Married               0
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History        0
Property_Area         0
dtype: int64

In [63]:
data.LoanAmount.fillna(data.LoanAmount.median(),inplace=True)

In [64]:
data.Loan_Amount_Term.fillna(data.Loan_Amount_Term.mean(),inplace=True)

In [65]:
data.isnull().sum()

Loan_ID               0
Gender               24
Married               0
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [66]:
data.Gender.value_counts()

1.0    775
0.0    182
Name: Gender, dtype: int64

In [67]:
from random import randint
data.Gender.fillna(np.random.randint(0,2),inplace=True)

In [68]:
data.Gender.value_counts()

1.0    799
0.0    182
Name: Gender, dtype: int64

In [69]:
data.Dependents.fillna(data.Dependents.median(),inplace=True)

In [70]:
data.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [71]:
data.Self_Employed.fillna(np.random.randint(0,2),inplace=True)

In [72]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [73]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,1.0,0.0,0.0,1,0.0,88363767.5,0.0,126.0,360.0,1.0,2
1,LP001003,1.0,1.0,1.0,1,0.0,69237672.5,22782110.0,128.0,360.0,1.0,0
2,LP001005,1.0,1.0,0.0,1,1.0,45322500.0,0.0,66.0,360.0,1.0,2
3,LP001006,1.0,1.0,0.0,0,0.0,39022672.5,35623485.0,120.0,360.0,1.0,2
4,LP001008,1.0,0.0,0.0,1,0.0,90645000.0,0.0,141.0,360.0,1.0,2

In [74]:
data.drop('Loan_ID',inplace=True,axis=1)

In [75]:
data.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [76]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1.0,0.0,0.0,1,0.0,88363767.5,0.0,126.0,360.0,1.0,2
1,1.0,1.0,1.0,1,0.0,69237672.5,22782110.0,128.0,360.0,1.0,0
2,1.0,1.0,0.0,1,1.0,45322500.0,0.0,66.0,360.0,1.0,2
3,1.0,1.0,0.0,0,0.0,39022672.5,35623485.0,120.0,360.0,1.0,2
4,1.0,0.0,0.0,1,0.0,90645000.0,0.0,141.0,360.0,1.0,2

In [77]:
train_X=data.iloc[:614,]
train_y=Loan_status

In [78]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(train_X,train_y,random_state=0)

In [79]:
train_X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
46,1.0,1.0,1.0,1,0.0,85342267.5,0.0,44.0,360.0,1.0,2
272,1.0,0.0,0.0,1,0.0,42799547.5,28054627.5,126.0,360.0,1.0,0
474,1.0,0.0,2.0,1,0.0,83574690.0,70219660.0,162.0,360.0,1.0,0
382,0.0,0.0,0.0,1,0.0,90645000.0,0.0,156.0,360.0,1.0,2
283,0.0,0.0,0.0,1,0.0,27359682.5,25169095.0,54.0,360.0,1.0,2

In [81]:
test_X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
454,1.0,0.0,0.0,1,1.0,107036637.5,0.0,84.0,360.0,1.0,1
52,0.0,0.0,0.0,1,0.0,63904725.0,0.0,112.0,360.0,1.0,1
536,1.0,1.0,0.0,1,0.0,92654297.5,59009895.0,324.0,360.0,1.0,2
469,1.0,1.0,0.0,1,0.0,65460797.5,37028482.5,110.0,360.0,1.0,2
55,1.0,1.0,2.0,1,0.0,40911110.0,17630452.5,97.0,360.0,1.0,1

In [82]:
from sklearn.linear_model import LogisticRegression
models = [
    ('Logistic Regression Base', LogisticRegression(random_state=None)),
    ('Logistic Regression (L2)', LogisticRegression(penalty='l2', solver='lbfgs', random_state=None)),
    ('Logistic Regression (L1)', LogisticRegression(penalty='l1', solver='liblinear', random_state=None))
]

In [83]:
scoring='accuracy'

In [84]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
result=[]
names=[]

In [85]:
for name,model in models:
    kfold=KFold(n_splits=10,random_state=None)
    cv_result=cross_val_score(model,train_X,train_y,cv=kfold,scoring=scoring)
    result.append(cv_result)
    names.append(name)
    print(model)
    print("%s %f" % (name,cv_result.mean()))

LogisticRegression()
Logistic Regression Base 0.676087
LogisticRegression()
Logistic Regression (L2) 0.676087
LogisticRegression(penalty='l1', solver='liblinear')
Logistic Regression (L1) 0.802174

/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [95]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

LR=LogisticRegression(penalty='l1', solver='liblinear', random_state=None)
LR.fit(train_X,train_y)
pred=LR.predict(test_X)
print("Model Accuracy:- ",accuracy_score(test_y,pred))
print(confusion_matrix(test_y,pred))
print(classification_report(test_y,pred))

Model Accuracy:-  0.8376623376623377
[[ 20  23]
 [  2 109]]
              precision    recall  f1-score   support

           0       0.91      0.47      0.62        43
           1       0.83      0.98      0.90       111

    accuracy                           0.84       154
   macro avg       0.87      0.72      0.76       154
weighted avg       0.85      0.84      0.82       154

In [87]:
print(pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1]

In [88]:
X_test=data.iloc[614:,]

In [89]:
X_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1.0,1.0,0.0,1,0.0,5720.0,0.0,110.0,360.0,1.0,2
1,1.0,1.0,1.0,1,0.0,3076.0,1500.0,126.0,360.0,1.0,2
2,1.0,1.0,2.0,1,0.0,5000.0,1800.0,208.0,360.0,1.0,2
3,1.0,1.0,2.0,1,0.0,2340.0,2546.0,100.0,360.0,1.0,2
4,1.0,0.0,0.0,0,0.0,3276.0,0.0,78.0,360.0,1.0,2

In [90]:
prediction = LR.predict(X_test)

In [91]:
print(prediction)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [92]:
t = LR.predict([[0.0 , 0.0, 0.0, 1,0.0, 1811, 1666.0, 54.0, 360.0, 1.0, 2]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [93]:
print(t)

[1]

In [94]:
import joblib
model_filename = 'logistic_regression_model.pkl'
joblib.dump(LR, model_filename)

['logistic_regression_model.pkl']